In [1]:
import os
import sys
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# Paths, input, and output file names

outer_dir = os.path.abspath(os.path.join(os.getcwd() ,"../.."))
path = os.path.join(outer_dir, 'IFT_files', 'IFT Results')

stream_list = ['Indian', 'Sproul']
hydro_list = ['unimp','mpof','mmpof','ncifp','tessman']
version = 'V1_0_0'
in_csv = os.path.join(path, 'All_hydrographs_{}.csv'.format(version))
out_csv = os.path.join(path, 'Water_year_types_{}.csv'.format(version))

In [3]:
# Import data
df = pd.read_csv(in_csv)
print(len(df))
df.head()

238605

         date       flow    ift  stream version  month  year  water_year
0  1950-10-01  33.839921  unimp  indian  V1_0_0     10  1950        1951
1  1950-10-02  33.839921  unimp  indian  V1_0_0     10  1950        1951
2  1950-10-03  33.839921  unimp  indian  V1_0_0     10  1950        1951
3  1950-10-04  33.839921  unimp  indian  V1_0_0     10  1950        1951
4  1950-10-05  33.839921  unimp  indian  V1_0_0     10  1950        1951

In [4]:
# check for missing values
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [date, flow, ift, stream, version, month, year, water_year]
Index: []

In [6]:
df1 = df.loc[df.ift == 'unimp'].copy()
df2 = (df1.groupby(['stream', 'water_year'])
           .agg({'flow':'mean', 'date':'count'})
           .reset_index()
           .rename(columns={'flow':'wy_mean_flow_cfs', 'date':'day_count'})
          )
# Filter out partial years
df3 = df2.loc[df2.day_count >= 360].copy()
df3

     stream  water_year  wy_mean_flow_cfs  day_count
0    indian        1951         80.799484        365
1    indian        1952         97.464302        366
2    indian        1953         78.676068        365
3    indian        1954         67.919191        365
4    indian        1955         32.950972        365
5    indian        1956        116.140401        366
6    indian        1957         41.925103        365
7    indian        1958        124.676122        365
8    indian        1959         41.579588        365
9    indian        1960         43.260980        366
10   indian        1961         46.742975        365
11   indian        1962         49.370364        365
12   indian        1963         69.705711        365
13   indian        1964         27.424636        366
14   indian        1965        103.935032        365
15   indian        1966         49.821766        365
16   indian        1967         78.204506        365
17   indian        1968         40.423712        366
18   indian        1969        109.408495        365
19   indian        1970         92.852301        365
20   indian        1971         66.465648        365
21   indian        1972         24.492674        366
22   indian        1973         80.438832        365
23   indian        1974        140.727383        365
24   indian        1975         78.693342        365
25   indian        1976         15.963928        366
26   indian        1977          3.507721        365
27   indian        1978        104.860561        365
28   indian        1979         37.443202        365
29   indian        1980         76.832308        366
..      ...         ...               ...        ...
100  sproul        1990          8.052878        365
101  sproul        1991          6.001208        365
102  sproul        1992          7.454817        366
103  sproul        1993         17.562573        365
104  sproul        1994          8.383805        365
105  sproul        1995         27.580668        365
106  sproul        1996         19.729783        366
107  sproul        1997         22.877200        365
108  sproul        1998         26.866201        365
109  sproul        1999         19.591429        365
110  sproul        2000         16.810757        366
111  sproul        2001          6.871370        365
112  sproul        2002         16.246748        365
113  sproul        2003         22.857028        365
114  sproul        2004         16.865942        366
115  sproul        2005         15.582321        365
116  sproul        2006         29.524876        365
117  sproul        2007         12.006688        365
118  sproul        2008         12.637617        366
119  sproul        2009          9.402356        365
120  sproul        2010         17.956125        365
121  sproul        2011         19.126325        365
122  sproul        2012         11.624554        366
123  sproul        2013         13.437512        365
124  sproul        2014          3.422825        365
125  sproul        2015         12.519797        365
126  sproul        2016         16.968470        366
127  sproul        2017         29.207655        365
128  sproul        2018          9.552816        365
131  sproul        2021          7.951467        362

[130 rows x 4 columns]

In [7]:
df3['pct_rank'] = df3.groupby('stream')['wy_mean_flow_cfs'].rank(pct=True)
df3

     stream  water_year  wy_mean_flow_cfs  day_count  pct_rank
0    indian        1951         80.799484        365  0.732394
1    indian        1952         97.464302        366  0.830986
2    indian        1953         78.676068        365  0.676056
3    indian        1954         67.919191        365  0.577465
4    indian        1955         32.950972        365  0.253521
5    indian        1956        116.140401        366  0.887324
6    indian        1957         41.925103        365  0.394366
7    indian        1958        124.676122        365  0.901408
8    indian        1959         41.579588        365  0.380282
9    indian        1960         43.260980        366  0.422535
10   indian        1961         46.742975        365  0.450704
11   indian        1962         49.370364        365  0.464789
12   indian        1963         69.705711        365  0.591549
13   indian        1964         27.424636        366  0.211268
14   indian        1965        103.935032        365  0.845070
15   indian        1966         49.821766        365  0.478873
16   indian        1967         78.204506        365  0.661972
17   indian        1968         40.423712        366  0.366197
18   indian        1969        109.408495        365  0.873239
19   indian        1970         92.852301        365  0.816901
20   indian        1971         66.465648        365  0.563380
21   indian        1972         24.492674        366  0.154930
22   indian        1973         80.438832        365  0.718310
23   indian        1974        140.727383        365  0.971831
24   indian        1975         78.693342        365  0.690141
25   indian        1976         15.963928        366  0.070423
26   indian        1977          3.507721        365  0.014085
27   indian        1978        104.860561        365  0.859155
28   indian        1979         37.443202        365  0.323944
29   indian        1980         76.832308        366  0.647887
..      ...         ...               ...        ...       ...
100  sproul        1990          8.052878        365  0.118644
101  sproul        1991          6.001208        365  0.050847
102  sproul        1992          7.454817        366  0.084746
103  sproul        1993         17.562573        365  0.559322
104  sproul        1994          8.383805        365  0.135593
105  sproul        1995         27.580668        365  0.881356
106  sproul        1996         19.729783        366  0.677966
107  sproul        1997         22.877200        365  0.796610
108  sproul        1998         26.866201        365  0.847458
109  sproul        1999         19.591429        365  0.661017
110  sproul        2000         16.810757        366  0.508475
111  sproul        2001          6.871370        365  0.067797
112  sproul        2002         16.246748        365  0.491525
113  sproul        2003         22.857028        365  0.779661
114  sproul        2004         16.865942        366  0.525424
115  sproul        2005         15.582321        365  0.440678
116  sproul        2006         29.524876        365  0.932203
117  sproul        2007         12.006688        365  0.305085
118  sproul        2008         12.637617        366  0.372881
119  sproul        2009          9.402356        365  0.169492
120  sproul        2010         17.956125        365  0.593220
121  sproul        2011         19.126325        365  0.644068
122  sproul        2012         11.624554        366  0.254237
123  sproul        2013         13.437512        365  0.406780
124  sproul        2014          3.422825        365  0.033898
125  sproul        2015         12.519797        365  0.355932
126  sproul        2016         16.968470        366  0.542373
127  sproul        2017         29.207655        365  0.915254
128  sproul        2018          9.552816        365  0.186441
131  sproul        2021          7.951467        362  0.101695

[130 rows x 5 columns]

In [8]:
# Export data to CSV

df3.to_csv(out_csv, encoding='utf-8', index=False)